PORT=3002
JWT_SECRET=change_me_in_production
DB_USER=postgres
DB_HOST=localhost
DB_NAME=MIC-EMASEO
DB_PASSWORD=
DB_PORT=5432
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=EMASEO EP <tu_email@gmail.com>
